/* ============================================================================================== 
  Document   : queries
  Created on : 01/08/2014
  Author     : Sheldon Led
  Description: Media queries
================================================================================================= */
@media (min-width: 600px) {
  .project {
    width: 20%;
  }
  .project img{
    width: 80%;
  }
  .project.website {
    width: 28%;
  }
}